include src/mantium.wsgi
include src/mantium/projects/readme.md
recursive-include src/mantium/static/css *
recursive-include src/mantium/static/images *
recursive-include src/mantium/static/js *
recursive-include src/mantium/templates *.tpl
recursive-include src/mantium/templates/partials *.tpl
