<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="http://hivesolutions.github.com/uxf/bin/css/ux-min.css" />
<link rel="stylesheet" type="text/css" href="http://hivesolutions.github.com/uxf/styles/omni/css/ux.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://hivesolutions.github.com/uxf/bin/js/ux-min.js"></script>
<title>Hello from Flask</title>
<body class="ux omni-style">
    {% if name %}
        <h1>Hello {{ name }}!</h1>
        <div class="button button-green" data-link="http://www.sapo.pt">Hello World</div>
    {% else %}
        <h1>Hello World!</h1>
    {% endif %}
</body>
